@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:wght@100;300;400&family=Quicksand&family=Roboto:ital,wght@0,300;0,400;1,300&family=Ubuntu:wght@300;400&display=swap');

html, body{
    background-color: black;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: center;
}

#title_img{
    user-select: none;
    -webkit-user-drag: none;
    padding: 1rem;
    transition: filter 0.25s ease-in-out;
    filter: opacity(0%);
}

.animate{
    animation: invertToNormal 2.5s ease forwards;
}

#title_img:hover{
    cursor: none;
    animation: none;
    filter: opacity(100%);
}


@keyframes invertToNormal {
    from {
        filter: opacity(100%);
    }
    to {
        filter: opacity(0%);
    }
}


#trailer{
    user-select: none;
    z-index: -5;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#the_rest{
    position: absolute;
    top: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#platform{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#platforms{
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(224,64,0);
    background: -moz-linear-gradient(135deg, rgba(224,64,0,1) 0%, rgba(177,0,0,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(224,64,0,1) 0%, rgba(177,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(224,64,0,1) 0%, rgba(177,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e04000",endColorstr="#b10000",GradientType=1);
    border-radius: 1rem;
    min-width: 400px;
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#playstore, #steam{
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border: 2px dashed rgb(224,64,0);
    border-radius: 10px;
}

#platforms h3{
    margin-right: 0.5rem;
    padding-left: 2rem;
}

#platforms img{
    margin-left: 0.5rem;
    padding-right: 2rem;
}

#playstore:hover, #steam:hover{
    background-color: rgb(154, 44, 1);
    border-color: rgba(224,64,0);
}

#smth_a, #smth_b{
    position: absolute;
    width: 3rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: black;
    top: 50%;
}

#smth_a{
    left: 0%;
    transform:translate(-50%,-50%);
}

#smth_b{
    right: 0%;
    transform:translate(50%,-50%);
}

#social {
    user-select: none;
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 25%;
    padding: 0.33rem;
    background: rgb(15,0,224);
    background: -moz-linear-gradient(135deg, rgba(15,0,224,1) 0%, rgba(76,0,182,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(15,0,224,1) 0%, rgba(76,0,182,1) 100%);
    background: linear-gradient(135deg, rgba(15,0,224,1) 0%, rgba(76,0,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f00e0",endColorstr="#4c00b6",GradientType=1);
    border-radius: 1rem;
}

#discord{
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    user-select: none;
    text-decoration: none;
}

#discord:hover{
    cursor: pointer;
    background-color: rgb(39, 0, 132);
}

#discord h3{
    margin-bottom: 0.5rem;
}

#support{
    width: 100%;
    padding: 2rem;
    background-color: rgb(20, 20, 20);
}

#support a, #support a:visited{
    color: rgb(255, 0, 0);
}

footer{
    width: 100%;
}

#footer{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    background-color: rgb(16, 16, 16);
}

#footer a{
    color: white;
    text-decoration: none;
}

.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 8px),
      4px calc(100% - 8px),
      4px calc(100% - 4px),
      8px calc(100% - 4px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 4px,
      calc(100% - 8px) 4px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 4px,
      4px 4px,
      4px 8px,
      0px 8px
    );
  }

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}


@media only screen and (max-width: 600px) {
    #title_img{
        width: 100%;
        height: 100%;
    }

    #platforms{
        min-width: 0;
        max-width: 90vw;
    }

    #platforms h3{
        padding-left: 8px;
    }

    #platforms img{
        padding-right: 8px;
    }

    #social{
        width: 60%;
    }
}